@font-face {
    font-family: 'iconfont';
    /* project id 1902175 */
    src        : url('//at.alicdn.com/t/font_1902175_uot2m5nixo.eot');
    src        : url('//at.alicdn.com/t/font_1902175_uot2m5nixo.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1902175_uot2m5nixo.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1902175_uot2m5nixo.woff') format('woff'),
        url('//at.alicdn.com/t/font_1902175_uot2m5nixo.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1902175_uot2m5nixo.svg#iconfont') format('svg');
}


.iconfont {
    font-family            : "iconfont" !important;
    font-size              : 16px;
    font-style             : normal;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-right:before {
    content: "\e65a";
}

.icon-loading:before {
    content: "\e600";
}

.icon-load-fail:before {
    content: "\e87c";
}

.icon-loading1:before {
    content: "\e640";
}

.icon-idCard:before {
    content: "\e6ba";
}

.icon-trans:before {
    content: "\e606";
}

.icon-order:before {
    content: "\e6c6";
}

.icon-share:before {
    content: "\e623";
}

.icon-class:before {
    content: "\e7f9";
}

.icon-home:before {
    content: "\e61a";
}

.icon-shopCart:before {
    content: "\e636";
}

.icon-order-list:before {
    content: "\e62b";
}

.icon-login-out:before {
    content: "\e608";
}

.icon-user:before {
    content: "\e615";
}

.icon-filter:before {
    content: "\e649";
}