  /* 2019-07-1 */
  button {
    padding: 0;
    margin: initial;
    border: none;
    outline: none;
    font-weight: normal;
    display: block;
    background-color: transparent;
    font-size: 15px;
    width: initial;
    text-align: initial;
  }
  button:after{
    border:none;
  }
  image{
    display: block;
  }
  
  /* --------------- -----margin------- ------------------ */
  .mAuto{
    margin: 0 auto
  }
  .ma-auto{
    margin: auto;
  }
  .ma-5{
    margin: 5rpx;
  }
  .ma-10{
    margin: 10rpx;
  }
  .ma-20{
    margin: 20rpx;
  }
  .ma-30{
    margin: 30rpx;
  }
  .ma-40{
    margin: 40rpx;
  }
  .ma-50{
    margin: 50rpx;
  }
  .ma-60{
    margin: 60rpx;
  }
  
  
  .mx-auto{
      margin-left: auto;
      margin-right: auto;
  }
  .mx-5{
    margin-right: 5rpx; margin-left: 5rpx;
  }
  .mx-10{
    margin-right: 10rpx; margin-left: 10rpx;
  }
  .mx-15{
    margin-right: 15rpx; margin-left: 15rpx;
  }
  .mx-20{
    margin-right: 20rpx; margin-left: 20rpx;
  }
  .mx-30{
    margin-right: 30rpx; margin-left: 30rpx;
  }
  .mx-40{
    margin-right: 40rpx; margin-left: 40rpx;
  }
  .mx-50{
    margin-right: 50rpx; margin-left: 50rpx;
  }
  .mx-60{
    margin-right: 50rpx; margin-left: 60rpx;
  }
  
  
  
  
  .my-auto{
      margin-top: auto;
      margin-bottom: auto;
  }
  .my-5{
    margin-top: 5rpx; margin-bottom: 5rpx;
  }
  .my-10{
    margin-top: 10rpx; margin-bottom:  0.5rem;
  }
  .my-15{
    margin-top: 15rpx; margin-bottom:  0.75rem;
  }
  .my-20{
    margin-top: 20rpx; margin-bottom: 20rpx;
  }
  .my-30{
    margin-top: 30rpx; margin-bottom: 30rpx;
  }
  .my-40{
    margin-top: 40rpx; margin-bottom: 40rpx;
  }
  .my-50{
    margin-top: 50rpx; margin-bottom: 50rpx;
  }
  .my-60{
    margin-top: 60rpx; margin-bottom: 60rpx;
  }
  
  
  .mt-auto{
      margin-top: auto;
  }
  .mt-5{
    margin-top: 5rpx;
  }
  .mt-10{
    margin-top: 10rpx;
  }
  .mt-15{
    margin-top: 15rpx;
  }
  .mt-20{
    margin-top: 20rpx;
  }
  .mt-30{
    margin-top: 30rpx;
  }
  .mt-40{
    margin-top: 40rpx;
  }
  .mt-50{
    margin-top: 50rpx;
  }
  .mt-60{
    margin-top: 60rpx;
  }
  
  
  
  
  .mr-auto{
    margin-right: auto;
  }
  .mr-5{
    margin-right: 5rpx;
  }
  .mr-10{
    margin-right: 10rpx;
  }
  .mr-15{
    margin-right: 15rpx;
  }
  .mr-20{
    margin-right: 20rpx;
  }
  .mr-30{
    margin-right: 30rpx;
  }
  .mr-40{
    margin-right: 40rpx;
  }
  .mr-50{
    margin-right: 50rpx;
  }
  .mr-60{
    margin-right: 60rpx;
  }
  
  
  
  .mb-auto{
      margin-bottom: auto;
    }
  .mb-5{
    margin-bottom: 5rpx;
  }
  .mb-10{
    margin-bottom: 10rpx;
  }
  .mb-15{
    margin-bottom: 15rpx;
  }
  .mb-20{
    margin-bottom: 20rpx;
  }
  .mb-30{
    margin-bottom: 30rpx;
  }
  .mb-40{
    margin-bottom: 40rpx;
  }
  .mb-50{
    margin-bottom: 50rpx;
  }
  .mb-60{
    margin-bottom: 60rpx;
  }
  
  
  .ml-auto{
      margin-left: auto;
    }
  .ml-5{
    margin-left: 5rpx;
  }
  .ml-10{
    margin-left: 10rpx;
  }
  .ml-15{
    margin-left: 15rpx;
  }
  .ml-20{
    margin-left: 20rpx;
  }
  .ml-30{
    margin-left: 30rpx;
  }
  .ml-40{
    margin-left: 40rpx;
  }
  .ml-50{
    margin-left: 50rpx;
  }
  .ml-60{
    margin-left: 60rpx;
  }
  
  
  
  /* --------------- -----margin------- ------------------ */
  .pa-5{
    padding: 5rpx;
  }
  .pa-10{
    padding: 10rpx;
  }
  .pa-15{
    padding: 15rpx;
  }
  .pa-20{
    padding: 20rpx;
  }
  .pa-30{
    padding: 30rpx;
  }
  .pa-40{
    padding: 40rpx;
  }
  .pa-50{
    padding: 50rpx;
  }
  .pa-60{
    padding: 60rpx;
  }
  
  .px-5{
    padding-right: 5rpx; padding-left: 5rpx;
  }
  .px-10{
    padding-right: 10rpx; padding-left: 10rpx;
  }
  .px-15{
    padding-right: 15rpx; padding-left: 15rpx;
  }
  .px-20{
    padding-right: 20rpx; padding-left: 20rpx;
  }
  .px-30{
    padding-right: 30rpx; padding-left: 30rpx;
  }
  .px-40{
    padding-right: 40rpx; padding-left: 40rpx;
  }
  .px-50{
    padding-right: 50rpx; padding-left: 50rpx;
  }
  .px-60{
    padding-right: 60rpx; padding-left: 60rpx;
  }
  
  .py-5{
    padding-top: 5rpx; padding-bottom: 5rpx;
  }
  .py-10{
    padding-top: 10rpx; padding-bottom:  0.5rem;
  }
  .py-15{
    padding-top: 15rpx; padding-bottom:  0.75rem;
  }
  .py-20{
    padding-top: 20rpx; padding-bottom: 20rpx;
  }
  .py-30{
    padding-top: 30rpx; padding-bottom: 30rpx;
  }
  .py-40{
    padding-top: 40rpx; padding-bottom: 40rpx;
  }
  .py-50{
    padding-top: 50rpx; padding-bottom: 50rpx;
  }
  .py-60{
    padding-top: 60rpx; padding-bottom: 60rpx;
  }
  
  
  .pt-5{
    padding-top: 5rpx;
  }
  .pt-10{
    padding-top: 10rpx;
  }
  .pt-20{
    padding-top: 20rpx;
  }
  .pt-30{
    padding-top: 30rpx;
  }
  .pt-40{
    padding-top: 40rpx;
  }
  .pt-50{
    padding-top: 50rpx;
  }
  .pt-60{
    padding-top: 60rpx;
  }
  
  
  .pr-5{
    padding-right: 5rpx;
  }
  .pr-10{
    padding-right: 10rpx;
  }
  .pr-15{
    padding-right: 15rpx;
  }
  .pr-20{
    padding-right: 20rpx;
  }
  .pr-30{
    padding-right: 30rpx;
  }
  .pr-40{
    padding-right: 40rpx;
  }
  .pr-50{
    padding-right: 50rpx;
  }
  .pr-60{
    padding-right: 60rpx;
  }
  
  
  .pb-5{
    padding-bottom: 5rpx;
  }
  .pb-10{
    padding-bottom: 10rpx;
  }
  .pb-15{
    padding-bottom: 15rpx;
  }
  .pb-20{
    padding-bottom: 20rpx;
  }
  .pb-30{
    padding-bottom: 30rpx;
  }
  .pb-40{
    padding-bottom: 40rpx;
  }
  .pb-50{
    padding-bottom: 50rpx;
  }
  .pb-60{
    padding-bottom: 3rem;
  }
  .pb-100{
    padding-bottom: 100%;
   }
  
  .pl-5{
    padding-left: 5rpx;
  }
  .pl-10{
    padding-left: 10rpx;
  }
  .pl-15{
    padding-left: 15rpx;
  }
  .pl-20{
    padding-left: 20rpx;
  }
  .pl-30{
    padding-left: 30rpx;
  }
  .pl-40{
    padding-left: 40rpx;
  }
  .pl-50{
    padding-left: 50rpx;
  }
  .pl-60{
    padding-left: 60rpx;
  }
  
  
  /* --------------- -----盒子定位------- ------------------ */
  
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .fixed-center {
    position: fixed;
    z-index: 1030;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
  }
  .fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
  
  .position-static {
    position: static !important;
  }
  
  .position-relative {
    position: relative !important;
  }
  
  .position-absolute {
    position: absolute !important;
  }
  
  .position-fixed {
    position: fixed !important;
  }
  
  .position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
  }
  .z100{
    z-index: 100;
  }
  .z200{
    z-index: 200;
  }
  .z300{
    z-index: 300;
  }
  .z400{
    z-index: 400;
  }
  .z1000{
    z-index: 1000;
  }
  
  /* --------------- -----栅格布局------- ------------------ */
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col {
    position: relative;
    min-height: 1rpx;
  }
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* --------------- -----flex------- ------------------ */
  .flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  
  .flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  
  .flex-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  
  .flex-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  
  .flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  
  .flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  
  .flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  
  .flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  
  .flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  
  
  .justify-content-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  
  .justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  
  .justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  
  .justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  
  .justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  
  .align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  
  .align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  
  .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  
  .align-items-baseline {
    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  
  .align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  
  .align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  
  .align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  
  .align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  
  .align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  
  .align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  
  .align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  
  .align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  
  .align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  
  .align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  
  .align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  
  .align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  
  .align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
  /* --------------- -----display------- ------------------ */
  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  .d-inline {
    display: inline !important;
  }
  .d-inline-block {
    display: inline-block !important;
  }
  .d-block {
    display: block !important;
  }
  .d-table {
    display: table !important;
  }
  .d-table-row {
    display: table-row !important;
  }
  .d-table-cell {
    display: table-cell !important;
  }
  .d-none {
    display: none !important;
  }
  
  .o-hidden{
    overflow: hidden;
  }
  .bg-white{
    background-color: #fff; 
  }
  .bg-f4{
    background-color: #f4f4f4; 
  }
  .text-center{
    text-align: center;
  }
  .text-right{
    text-align: right;
  }
  .color-f{
    color: #fff;
  }
  .color-9{
    color: #999;
  }
  .f36{
    font-size: 18px;
  }
  .f30{
    font-size: 15px;
  }
  .w-100{
    width: 100%;
  }
  
  
  .h-100{
    height: 100%;
  }
  .mh-100vh{
    min-height: 100vh;
  }
  
  .imgCover{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-over-one {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .text-over-two {
    overflow: hidden;
    -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  
  .iconfont{
    line-height: 1;
    /* border: 1px solid #000; */
    width: 44rpx;
    height: 44rpx;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  